dotnet/assemblies/NPanday.VisualStudio.Addin/src/test/resource/ClassLibrary1/ClassLibrary1/Web References/WebRef/demoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<definitions xmlns:tns="http://www.4s4c.com/wsdl/demo.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://www.4s4c.com/wsdl/demo.xsd" xmlns:itf="http://www.4s4c.com/wsdl/demo_itf.wsdl" xmlns:xsd="http://www.w3.org/1999/XMLSchema" name="demoService" targetNamespace="http://www.4s4c.com/wsdl/demo.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://www.4s4c.com/wsdl/demo_itf.wsdl" location="http://www.4s4c.com/wsdl/demo_itf.wsdl" />
  <types />
  <binding name="abookBinding" type="itf:abookPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getAddressFromName">
      <soap:operation soapAction="urn:demoService#getAddressFromName" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/addressbook" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/addressbook" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="addEntry">
      <soap:operation soapAction="urn:demoService#addEntry" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/addressbook" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/addressbook" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <binding name="IcalcBinding" type="itf:IcalcPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="doError">
      <soap:operation soapAction="urn:demoService#doError" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="add">
      <soap:operation soapAction="urn:demoService#add" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="add2">
      <soap:operation soapAction="urn:demoService#add2" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="add3">
      <soap:operation soapAction="urn:demoService#add3" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="add4">
      <soap:operation soapAction="urn:demoService#add4" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="doubler">
      <soap:operation soapAction="urn:demoService#doubler" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/calc" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <binding name="dualBinding" type="itf:dualPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="someString">
      <soap:operation soapAction="urn:demoService#someString" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/dual" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/dual" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <binding name="IStringsBinding" type="itf:IStringsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="concat">
      <soap:operation soapAction="urn:demoService#concat" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/strings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/strings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="split">
      <soap:operation soapAction="urn:demoService#split" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/strings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/strings" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <binding name="structsBinding" type="itf:structsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="GetPerson">
      <soap:operation soapAction="urn:demoService#GetPerson" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetPersons">
      <soap:operation soapAction="urn:demoService#GetPersons" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="PutPerson">
      <soap:operation soapAction="urn:demoService#PutPerson" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetCompany">
      <soap:operation soapAction="urn:demoService#GetCompany" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="PutCompany">
      <soap:operation soapAction="urn:demoService#PutCompany" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/structs" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <binding name="typesBinding" type="itf:typesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="image">
      <soap:operation soapAction="urn:demoService#image" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/trickyTypes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/trickyTypes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DateAdd">
      <soap:operation soapAction="urn:demoService#DateAdd" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/trickyTypes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/trickyTypes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="image_match">
      <soap:operation soapAction="urn:demoService#image_match" />
      <input>
        <soap:body use="encoded" namespace="http://simon.fell.com/trickyTypes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://simon.fell.com/trickyTypes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="demoService">
    <port name="abookPort" binding="tns:abookBinding">
      <soap:address location="http://soap.4s4c.com:80/ssss4c/soap.asp" />
    </port>
    <port name="IcalcPort" binding="tns:IcalcBinding">
      <soap:address location="http://soap.4s4c.com:80/ssss4c/soap.asp" />
    </port>
    <port name="dualPort" binding="tns:dualBinding">
      <soap:address location="http://soap.4s4c.com:80/ssss4c/soap.asp" />
    </port>
    <port name="IStringsPort" binding="tns:IStringsBinding">
      <soap:address location="http://soap.4s4c.com:80/ssss4c/soap.asp" />
    </port>
    <port name="structsPort" binding="tns:structsBinding">
      <soap:address location="http://soap.4s4c.com:80/ssss4c/soap.asp" />
    </port>
    <port name="typesPort" binding="tns:typesBinding">
      <soap:address location="http://soap.4s4c.com:80/ssss4c/soap.asp" />
    </port>
  </service>
</definitions>