assemblies/NMaven.Service/Embedder/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
    <!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<wsdl:definitions targetNamespace="http://incubator.apache.org/nmaven/MavenEmbedderService" xmlns:tns="http://incubator.apache.org/nmaven/MavenEmbedderService" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="urn:maven-embedder" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:maven-embedder"><xsd:complexType abstract="true" name="MavenExecutionRequest"><xsd:sequence><xsd:element minOccurs="0" name="goal" nillable="true" type="xsd:string"/><xsd:element minOccurs="0" name="pomFile" nillable="true" type="xsd:string"/><xsd:any maxOccurs="unbounded" minOccurs="0"/></xsd:sequence><xsd:anyAttribute/></xsd:complexType></xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://incubator.apache.org/nmaven/MavenEmbedderService"><xsd:element name="execute"><xsd:complexType><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:MavenExecutionRequest"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="executeResponse"><xsd:complexType/></xsd:element></xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeRequest">
    <wsdl:part name="parameters" element="tns:execute"/>
  </wsdl:message>
  <wsdl:message name="executeResponse">
    <wsdl:part name="parameters" element="tns:executeResponse"/>
  </wsdl:message>
  <wsdl:portType name="MavenEmbedderServicePortType">
    <wsdl:operation name="execute">
      <wsdl:input name="executeRequest" message="tns:executeRequest"/>
      <wsdl:output name="executeResponse" message="tns:executeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MavenEmbedderServiceHttpBinding" type="tns:MavenEmbedderServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="executeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MavenEmbedderService">
    <wsdl:port name="MavenEmbedderServiceHttpPort" binding="tns:MavenEmbedderServiceHttpBinding">
      <wsdlsoap:address location="http://localhost:9191/dotnet-service-embedder/services/MavenEmbedderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
