npanday-it-runner/src/test/resources/ClassLibraryWithWebReference/ClassLibraryWithWebReference/Web References/webService/diomedestoragelegacytransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://transfer.diomedestorage.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://transfer.diomedestorage.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://transfer.diomedestorage.com">
      <s:element name="UploadWithCreateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LegacyUploadWithCreateFileRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LegacyUploadWithCreateFileRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sessionToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uploadWithCreateFileInfo" type="tns:UploadWithCreateFileInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UploadWithCreateFileInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="totalLength" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="callbackAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadWithCreateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadWithCreateFileResult" type="tns:UploadWithCreateFileResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UploadWithCreateFileResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LegacyCreateFileRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LegacyCreateFileRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sessionToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="callbackAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateFileResult" type="tns:CreateFileResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateFileResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="Upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LegacyUploadRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LegacyUploadRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sessionToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="uploadInfo" type="tns:UploadInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UploadInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fileID" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="offset" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="bufferLength" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="isComplete" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadWithCreateFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadWithCreateFile" />
  </wsdl:message>
  <wsdl:message name="UploadWithCreateFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadWithCreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateFileSoapIn">
    <wsdl:part name="parameters" element="tns:CreateFile" />
  </wsdl:message>
  <wsdl:message name="CreateFileSoapOut">
    <wsdl:part name="parameters" element="tns:CreateFileResponse" />
  </wsdl:message>
  <wsdl:message name="UploadSoapIn">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="UploadSoapOut">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:portType name="DiomedeStorageLegacyTransferSoap">
    <wsdl:operation name="UploadWithCreateFile">
      <wsdl:input message="tns:UploadWithCreateFileSoapIn" />
      <wsdl:output message="tns:UploadWithCreateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <wsdl:input message="tns:CreateFileSoapIn" />
      <wsdl:output message="tns:CreateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <wsdl:input message="tns:UploadSoapIn" />
      <wsdl:output message="tns:UploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiomedeStorageLegacyTransferSoap" type="tns:DiomedeStorageLegacyTransferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadWithCreateFile">
      <soap:operation soapAction="http://transfer.diomedestorage.com/UploadWithCreateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap:operation soapAction="http://transfer.diomedestorage.com/CreateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://transfer.diomedestorage.com/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiomedeStorageLegacyTransferSoap12" type="tns:DiomedeStorageLegacyTransferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadWithCreateFile">
      <soap12:operation soapAction="http://transfer.diomedestorage.com/UploadWithCreateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFile">
      <soap12:operation soapAction="http://transfer.diomedestorage.com/CreateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="http://transfer.diomedestorage.com/Upload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiomedeStorageLegacyTransfer">
    <wsdl:port name="DiomedeStorageLegacyTransferSoap" binding="tns:DiomedeStorageLegacyTransferSoap">
      <soap:address location="http://service.diomedestorage.com/diomedestoragelegacytransfer.asmx" />
    </wsdl:port>
    <wsdl:port name="DiomedeStorageLegacyTransferSoap12" binding="tns:DiomedeStorageLegacyTransferSoap12">
      <soap12:address location="http://service.diomedestorage.com/diomedestoragelegacytransfer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>