assemblies/NMaven.Service/Embedder/src/main/resources/MavenEmbedder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://incubator.apache.org/nmaven/MavenEmbedderService"
                  xmlns:tns="http://incubator.apache.org/nmaven/MavenEmbedderService"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="urn:maven-embedder"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://incubator.apache.org/nmaven/MavenEmbedderService">
      <xsd:element name="getMavenProjectsFor">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMavenProjectsForResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:ArrayOfMavenProject"/>
          </xsd:sequence>

        </xsd:complexType>
      </xsd:element>
      <xsd:element name="execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:MavenExecutionRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeResponse">
        <xsd:complexType/>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
                elementFormDefault="qualified" targetNamespace="urn:maven-embedder">
      <xsd:complexType name="ArrayOfMavenProject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="MavenProject" nillable="true" type="ns1:MavenProject"/>

        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MavenProject">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="artifactId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="groupId" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="mavenProjects" nillable="true" type="ns1:ArrayOfMavenProject"/>
          <xsd:element minOccurs="0" name="isOrphaned" nillable="true" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="pomPath" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="version" nillable="true" type="xsd:string"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:anyAttribute/>
      </xsd:complexType>
      <xsd:complexType name="MavenExecutionRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="goal" nillable="true" type="xsd:string"/>

          <xsd:element minOccurs="0" name="loggerPort" nillable="true" type="xsd:int"/>
          <xsd:element minOccurs="0" name="pomFile" nillable="true" type="xsd:string"/>
          <xsd:any maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
        <xsd:anyAttribute/>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getMavenProjectsForRequest">
    <wsdl:part name="parameters" element="tns:getMavenProjectsFor">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="getMavenProjectsForResponse">
    <wsdl:part name="parameters" element="tns:getMavenProjectsForResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeRequest">
    <wsdl:part name="parameters" element="tns:execute">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeResponse">

    <wsdl:part name="parameters" element="tns:executeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MavenEmbedderServicePortType">
    <wsdl:operation name="getMavenProjectsFor">
      <wsdl:input name="getMavenProjectsForRequest" message="tns:getMavenProjectsForRequest">
      </wsdl:input>
      <wsdl:output name="getMavenProjectsForResponse" message="tns:getMavenProjectsForResponse">
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="execute">
      <wsdl:input name="executeRequest" message="tns:executeRequest">
      </wsdl:input>
      <wsdl:output name="executeResponse" message="tns:executeResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MavenEmbedderServiceHttpBinding" type="tns:MavenEmbedderServicePortType">

    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMavenProjectsFor">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getMavenProjectsForRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMavenProjectsForResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="execute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="executeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>

    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MavenEmbedderService">
    <wsdl:port name="MavenEmbedderServiceHttpPort" binding="tns:MavenEmbedderServiceHttpBinding">
      <wsdlsoap:address location="http://localhost:8080/dotnet-service-embedder/services/MavenEmbedderService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
